<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/home.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/home_style.css">
</head>
<body ng-app="chat">
	<div ng-controller="HomeController as home">
		<div id="divUsername">{{data.username}}</div>

		<div id="outsideRoom"><br>
			<label>Join room: </label>
			<input type="text" name="room" id="room">
			<button onClick="javascript:joinRoom()">Submit</button>
		</div>

		<div id="insideRoom">
			<ul id="messages"></ul>
			<form action="">
				<input id="m" autocomplete="off" /><button>Send</button>
			</form>
		</div>


		<script type="text/javascript">
			window.onload = function () {
				var parameter_room = getUrlParameter("room");
				if (parameter_room != undefined){
					document.getElementById("insideRoom").style.display = "inline";
					document.getElementById("outsideRoom").style.display = "none";
					//document.getElementById("insideRoom").style.visibility = "visible";
				}else{
					document.getElementById("outsideRoom").style.display = "inline";
					document.getElementById("insideRoom").style.display = "none";
					//document.getElementById("outsideRoom").style.visibility = "visible";
				}
			}

			function joinRoom(){
				var room = document.getElementById("room").value;
				window.location = "/home?room=" + room;
			}

			// Ova funkcija uzima parametar iz URL-a (znaci da ce ".../home?room=123" vratiti "123")
			var getUrlParameter = function getUrlParameter(sParam) {
				var sPageURL = decodeURIComponent(window.location.search.substring(1)),
						sURLVariables = sPageURL.split('&'),
						sParameterName,
						i;

				for (i = 0; i < sURLVariables.length; i++) {
					sParameterName = sURLVariables[i].split('=');

					if (sParameterName[0] === sParam) {
						return sParameterName[1] === undefined ? true : sParameterName[1];
					}
				}
			};

			function loaded(){
				var data = {code: 123};
				$.ajax({
					type: "POST",
					url: "/returnInfo",
					data: data,
					success: function (data) {
						var username = data.data.username;

						var socket = io();

						$("form").submit(function(){
							console.log("works");
							socket.emit("chat message", (username + ": " + $("#m").val()), getUrlParameter("room"));
							$("#m").val("");
							return false;
						});
						socket.on("chat message" + getUrlParameter("room"), function(msg){
							$("#messages").append($("<li>").text(msg));
						});
					}
				})
			}
		</script>
	</div>
</body>
</html>